.navbar-brand img {
    max-height: 50px;
}

.menu{
  color: #FFD700; /* a gold-like color */
}

.menu:hover{
  color: #FFD700; /* a gold-like color */
  text-decoration: underline;
  text-shadow: 0 0 4px #FFD700;
}

.footer{
  color: #FFD700; /* a gold-like color */
}

.footer:hover{
  color: #FFD700; /* a gold-like color */
  text-decoration: underline;
  text-shadow: 0 0 4px #FFD700;
}

.book-now-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.book-now-button {
  width: 150px;
}

.book-now-button:hover {
  filter: brightness(0.8)
}